@{
    var accesstoken = User.Claims.FirstOrDefault(c => c.Type == "access_token")?.Value;
    var userName = User.Identity.Name;
}
@if(accesstoken != null)
{
  <li class="nav-item">
        <a class="nav-link" asp-controller="User" asp-action="Logout">Logout @userName</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="User" asp-action="Login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="User" asp-action="Register">Register</a>
    </li>
}