<!--Carousel-->
    <div id="carouselExampleCaptions" class="carousel slide pt-5">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/banner/grocery-banner-2.jpg" class="d-block w-100 rounded" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3>First slider</h3>
                    <h4>Some representative placeholder content for the first slide.</h4>
                    <button class="btn btn-xs btn-primary">Shop Now</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://media3.coolmate.me/cdn-cgi/image/width=1920,quality=90,format=auto/uploads/May2024/COOL_DEAL_4SUMMER_(1).png" class="d-block w-100 rounded" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3>First slider</h3>
                    <h4>Some representative placeholder content for the first slide.</h4>
                    <button class="btn btn-xs btn-primary">Shop Now</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://media3.coolmate.me/cdn-cgi/image/width=1920,quality=90,format=auto/uploads/May2024/COOL_DEAL_4SUMMER_(1).png" class="d-block w-100 rounded" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Third slider</h3>
                    <h4>Some representative placeholder content for the first slide.</h4>
                    <button class="btn btn-xs btn-primary">Shop Now</button>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>